body
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.container-fluid   {
    background: url("../imgs/h_img.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    text-align: center;
}

.container-fluid img{
    position: relative;
    top: 280px;
    translate : -70% 105%;
}

.container-fluid .heading   {
    position: relative;
    top: 330px;
    translate: 80% 430px;
    color: white;
    margin-bottom: 100px;
}

.about-us   {
    /* text-align: center; */
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

.services {
    height: 310px;
    width: 100%;
    padding-top: 40px;
    color: white;
    background: url('../imgs/s_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.what-we-do {
    margin: 30px;
    width: 100%;
}

.what-we-do .items #description {
    display: none;
}

.container .row .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container .row .col-md-3 .desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    padding: 20px;
    color: #fff; font-size: x-large;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}

.contact-us {
    width: 100%;
    height: 300px;
    padding-top: 40px;
    color: white;
    background: url("../imgs/c_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}